/******************FILES IMPORT************************/
/****************************************************/

/***************GENERAL STUFF*********************/
/*************************************************/
body{
  background-image: url("bg.jpg");
  background-position: center;
  margin-top: 0px;
}
h1{
  margin-left: 100px;
  margin-top: 20px;
}
form{
  background-color: blue;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 0px;
}
label{
  margin-left: 20px;
}
.btn{
  margin-left: 20px;
  color: blue;
}
.form-control {
  margin-left: 10px;
  display: block;
  width: 50%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
